 .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  font-size: 5vw;
  color: #61DBFB;
  background: #323330;

} 